{% extends 'ShopCatalogBundle:Default:index.html.twig' %}

{% block regionRight %}
    <div class="span9">
        <div class="well np">
            <div id="myCarousel" class="carousel slide homCar">
                <div class="carousel-inner">
                    <div class="item">
                        <img style="width:100%" src="{{ asset('/templace/img/bootstrap_free-ecommerce.png') }}" alt="bootstrap ecommerce templates">
                        <div class="carousel-caption">
                            <h4>Bootstrap shopping cart</h4>
                            <p><span>Very clean simple to use</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <img style="width:100%" src="{{ asset('/templace/img/carousel1.png') }}" alt="bootstrap ecommerce templates">
                        <div class="carousel-caption">
                            <h4>Bootstrap Ecommerce template</h4>
                            <p><span>Highly Google seo friendly</span></p>
                        </div>
                    </div>
                    <div class="item active">
                        <img style="width:100%" src="{{ asset('/templace/img/carousel3.png') }}" alt="bootstrap ecommerce templates">
                        <div class="carousel-caption">
                            <h4>Twitter Bootstrap cart</h4>
                            <p><span>Very easy to integrate and expand.</span></p>
                        </div>
                    </div>
                    <div class="item">
                        <img style="width:100%" src="{{ asset('/templace/img/bootstrap-templates.png') }}" alt="bootstrap templates">
                        <div class="carousel-caption">
                            <h4>Bootstrap templates integration</h4>
                            <p><span>Compitable to many more opensource cart</span></p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
        <!--
        New Products
        -->
        <div class="well well-small">
            <h3>New Products </h3>
            <hr class="soften"/>
            <div class="row-fluid">
                <div id="newProductCar" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                                        <a href="#" class="tag"></a>
                                        <a href="product_details.html"><img src="{{ asset('/templace/img/bootstrap-ring.png') }}" alt="bootstrap-ring"></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                                        <a href="#" class="tag"></a>
                                        <a  href="product_details.html"><img src="{{ asset('/templace/img/i.jpg') }}" alt=""></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                                        <a href="#" class="tag"></a>
                                        <a  href="product_details.html"><img src="{{ asset('/templace/img/g.jpg') }}" alt=""></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                                        <a  href="product_details.html"><img src="{{ asset('/templace/img/s.png') }}" alt=""></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                                        <a  href="product_details.html"><img src="{{ asset('/templace/img/i.jpg') }}" alt=""></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                                        <a  href="product_details.html"><img src="{{ asset('/templace/img/f.jpg') }}" alt=""></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                                        <a  href="product_details.html"><img src="{{ asset('/templace/img/h.jpg') }}" alt=""></a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                                        <a  href="product_details.html"><img src="{{ asset('/templace/img/j.jpg') }}" alt=""></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#newProductCar" data-slide="prev">&lsaquo;</a>
                    <a class="right carousel-control" href="#newProductCar" data-slide="next">&rsaquo;</a>
                </div>
            </div>

        </div>
        <!--
        Featured Products
        -->
        <div class="well well-small">
            <h3><a class="btn btn-mini pull-right" href="products.html" title="View more">VIew More<span class="icon-plus"></span></a> Featured Products  </h3>
            <hr class="soften"/>
            <div class="row-fluid">
                <ul class="thumbnails">

                    {% for product in products %}
                        <div class="list-item">

                            {{ include('ShopCatalogBundle:ViewMode:teaser.html.twig', { 'item' : product }) }}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}